@media (max-width: 990px) {
  .home .home-slider {
    height: auto;
  }
  .home .home-slider .image img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 990px) {
  .logo-total .cloud i {
    font-size: 2.3rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  header .navbar a {
    font-size: 1.2rem;
    padding: 0.9rem 1rem;
  }
}

@media (max-width: 800px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .search-form {
    width: 90%;
  }

  header .search-form label {
    left: 66rem;
  }

  .navbar {
    position: absolute;
    top: 110%;
    right: -110rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: #fff;
  }

  header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .home-slider .image img {
    width: 100%;
    height: 100%;
    z-index: 900;
    object-fit: fill;
  }

  .contenedor {
    display: block;
  }

  .contenedor .texto-1 p,
  li {
    font-size: 1.2rem;
  }

  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding: 3.5rem 0;
  }
}
